@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-primary: 255, 255, 255;
  --background-secondary: 64 127 127;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-primary));
}

a {
  text-decoration: underline;
}